CREATE TABLE charging_stations (
	id int8 NOT NULL PRIMARY KEY,
	geom public.geometry(point, 4326) NULL
);

{% for index, row in charging_stations.iterrows() %}
INSERT INTO charging_stations(id, geom) VALUES({{ row['id'] }}, '{{ row['geometry'] }}');
{% endfor %}